
HBarQuantumTech/.vs/HBarQuantumTech/v15/.suo
*.cache
HBarQuantumTech/HBarQuantumTech/obj/Debug/HBarQuantumTech.csproj.CoreCompileInputs.cache
HBarQuantumTech/HBarQuantumTech/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HBarQuantumTech/.vs/HBarQuantumTech/v15/.suo
*.cache
*.cache
